/* ==========================================================================
Styles for TextBodyCopy component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/project/init/variable", "../../../assets/styles/helpers/function",
  "../../../assets/styles/helpers/mixins";

// Start styles TextBodyCopy component
.a-text-body-copy {
  font-size: fz(body);
  line-height: lh(body);
  @include font-weight-default-reguler;
  @include colors-all-font;
  @include small {
    font-size: fz(mbody);
    line-height: lh(mbody);
  }
}
