@import "../../../assets/styles/project/init/variable", "../../../assets/styles/helpers/function",
  "../../../assets/styles/helpers/mixins";


.ds-contact-us-button{
  position: fixed;
  bottom: 32px;
  right: 25px;
  transition: all .25s ease;
  transform: translateY(0px);
  z-index: 1;
  @include extra-small{
    &.ui.button{
      display: none;
    }
  }
  &.ui.button{
    padding: 12px 25px 8px 25px;
    transition: all .25s ease;
  }
  p{
    position: relative;
    display: inline-block;
    top: -3px;
  }
  &:hover{
    transform: translateY(-2px);
  }
}