@import "../../../../assets/styles/project/init/variable", 
  "../../../../assets/styles/helpers/function",
  "../../../../assets/styles/helpers/mixins";


.p-about-us{
  position: relative;
  z-index: 4;

  .contact-us-wrapper {
    padding-top: 32px;
    padding-bottom: 24px;
    .contact-us-information {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-right: 40px;
      @include mq(680px){
        width: 100%;
        display: block;
        padding-right: 0;
      }
      .contact-us-logo {
        margin-bottom: 12px;
        img {
          width: 350px;
          @include mq(680px){
            width: 280px;
          }
        }
      }
      .contact-us-list {
        margin: 0;
        .contact-us-item {
          display: block;
          margin-bottom: 24px;
          &.display-mobile-only{
            display: none;
            @include mq(680px){
              display: block;
            }
          }
          .item-title {
            margin-bottom: 0;
            font-weight: bold;
          }
          a {
            font-size: 18px;
            @include extra-small{
              font-size: 16px;
            }
            .icon{
              margin-right: 4px !important;
            }
            .clickable{
              display: none;
              position: relative;
              top: -3px;
              left: 8px;
              @include small{
                display: inline-block;
                color: rgb(59, 59, 228);
              }
            }
            &:hover {
              color: #eebe12;
            }
          }
        }
      }
    }
    .contact-us-maps {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      @include mq(680px){
        width: 100%;
        display: block;
      }
      iframe {
        width: 100%;
      }
    }
  }
}
