@import "../../../../assets/styles/project/init/variable", 
  "../../../../assets/styles/helpers/function",
  "../../../../assets/styles/helpers/mixins";

.p-login-page {
  position: relative;
  z-index: 4;
  height: 100%;
  background-image: url('../../../../assets/images/dummy/bg.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  .container{
    position: relative;
    height: 100%;
    display: table;
    width: 100%;
    .ds-login-form .card{
      width: 50%;
      @include small{
        width: 65%
      }
      @include mq(580px){
        width: 100%
      }
    }
  }
}
