// import mixin and variables
@import "../../../assets/styles/project/init/variable", "../../../assets/styles/helpers/function",
  "../../../assets/styles/helpers/mixins";

.a-button {
  display: inline-block;
  outline: 0;
  text-align: center;
  min-width: 120px;
  min-height: 40px;
  padding: 7px 32px;
  font-size: fz(button-default);
  font-weight: fw(reguler);
  line-height: lh(button-default);
  letter-spacing: 0.12px;
  border: solid 1px color(primary, 100);
  background-color: color(primary, 100);
  color: color(white);
  border-radius: 1rem;
  transition: all 0.25s ease;
  text-decoration: none;
  cursor: pointer;

  @include hover-button("primary");

  @include small {
    font-size: fz(mbutton-default);
    line-height: lh(mbutton-default);
    min-width: 112px;
    min-height: 32px;
    padding: 3px 32px 4px;
  }

  &.secondary {
    color: color(primary, 100);
    background-color: transparent;
    border-color: color(primary, 100);
    @include hover-button("primary-secondary");
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: color(white);
    background-color: color(grey, 50);
    border-color: color(grey, 50);
    &:hover,
    &:active {
      background-color: color(grey, 50);
      border: solid 1px color(grey, 50);
    }
    &.text {
      border: 0;
      background-color: transparent;
      color: color(grey, 50);
      &:hover,
      &:active {
        color: color(grey, 50);
      }
    }
  }
  
  &.text {
    padding: 0;
    min-height: initial;
    min-width: initial;
    color: color(primary, 100);
    border-radius: 0;
    background-color: transparent;
    border: 0;
    &:hover {
      color: darken(color(primary, 150), 5%);
      background-color: transparent;
    }
    &:active {
      color: darken(color(primary, 150), 10%);
      background-color: transparent;
    }
    @include small {
      min-height: initial;
      min-width: initial;
    }

    &.white{
      color: color(grey,25);
      &:hover {
        color: color(grey,50);
      }
    }
  }
}
