/* ==========================================================================
   TEMPLATING
   ========================================================================== */

body {
  font-family: 'lato';
  font-weight: 300;

  &.remoove-scroll{
    overflow: hidden;
  }
}   

#root{
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  
  @include mq(1175px){
    padding-left: 32px;
    padding-right: 32px;
  }
}

a {
  text-decoration: none;
  color: map-get($colors, black);
}

ul li {
  display: inline-block;
}

.display-mobile-only{
  display: none;
  @include small {
    display: block;
  }
}

.display-desktop-only{
  display: block;
  @include small {
    display: none;
  }
}

/* ==========================================================================
   FONT SIZING &  LINE HEIGHT
   ========================================================================== */

body {
  font-size: fz(body);
  line-height: lh(body);
  @include small{
    font-size: fz(mbody);
    line-height: lh(mbody);
  }
}

