/* ==========================================================================
   TEMPLATING
   ========================================================================== */

body {
  font-family: "lato";
  font-weight: 300;

  &.remoove-scroll {
    overflow: hidden;
  }
  
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;

  @include mq(1221px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

a {
  text-decoration: none;
  color: map-get($colors, black);
}

ul li {
  display: inline-block;
}

.display-mobile-only {
  display: none;
  @include small {
    display: block;
  }
}

.display-desktop-only {
  display: block;
  @include small {
    display: none;
  }
}

/* ==========================================================================
   FONT SIZING &  LINE HEIGHT
   ========================================================================== */

body {
  font-size: fz(body);
  line-height: lh(body);
  @include small {
    font-size: fz(mbody);
    line-height: lh(mbody);
  }
}

/* ==========================================================================
   CUSTOM SECTION BORDER
   ========================================================================== */
.curve {
  position: absolute;
  z-index: 4;
  &.curve-top {
    left: 0;
    top: -1px;
    width: 100%;
    &.grey-bg {
      &::before { border-top: 50px solid #f9f9f9;}
      &::after { border-top: 50px solid #f9f9f9;}
    }
    &::before {
      content: "";
      left: 0;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      border-top: 50px solid #fff;
      border-bottom: 0;
      border-right: 30vw solid transparent;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 50px solid #fff;
      position: absolute;
      right: 0;
      top: 0;
      border-top: 50px solid #fff;
      border-bottom: 0;
      border-left: 70vw solid transparent;
    }
  }
  &.curve-bottom {
    left: 0;
    bottom: -1px;
    width: 100%;
    &.grey-bg {
      &::before { border-bottom: 50px solid #f9f9f9;}
      &::after { border-bottom: 50px solid #f9f9f9;}
    }
    &::before {
      content: "";
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 50px solid #fff;
      position: absolute;
      left: 0;
      border-right: 70vw solid transparent;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 50px solid #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      border-left: 30vw solid transparent;
    }
    &.curve-center {
      &::before {
        border-right: 50vw solid transparent;
        @include small {
          border-right: 100vw solid transparent;
        }
      }
      &::after {
        border-left: 50vw solid transparent;
        @include small {
          border-left: 100vw solid transparent;
        }
      }
    }
  }
}
