/* ----------------------
  - SPACING
  ---------------------- */
$spacing-list: 0 4 8 16 24 32 40 48 56 64 72;

/* ----------------------
  - FONT SIZING
  ---------------------- */
$fz: (
  h1: 6.4rem,
  mh1: 4rem,
  h2: 4rem,
  mh2: 2.6rem,
  h3: 3rem,
  mh3: 1.8rem,
  h4: 2.4rem,
  mh4: 1.6rem,
  body: 2rem,
  mbody: 1.6rem,
  button-default: 1.6rem,
  mbutton-default: 1.4rem,
);

/* ----------------------
  - LINE HEIGHT
  ---------------------- */
$lh: (
  h1: 1.25,
  mh1: 1.4,
  h2: 1.4,
  mh2: 1.33,
  h3: 1.6,
  mh3: 1.33,
  h4: 1.33,
  body: 1.6,
  mbody: 1.5,
  button-default: 1.5,
  mbutton-default: 1.71,
  info: 1.5,
  minfo: 1.71,
  action: 2,
  label: 1.33
);

/* ----------------------
  - SHADOW
  ---------------------- */
$shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
$shadow-navbar: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
$shadow-bold: 0 2px 15px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.1);

/* ----------------------
  - SCREEN
  ---------------------- */
$screen: (
  large: 1200px,
  medium: 992px,
  small: 768px,
  extra-small: 480px,
  iphone: 375px
);

/* ----------------------
  - COLOR
  ---------------------- */
$colors: (
  // shades
  black: #121f26,
  white: #fff,
  primary: (
    150: #fdcf4e,
    100: #ffd721,
    50: #fae173
  ),
  grey: (
    150: #23343f,
    125: #425866,
    100: #677e8c,
    75: #a3b5bf,
    50: #c5d1d8,
    25: #ebeff2
  ),
  overlay: (
    80: rgba(#000, 0.8),
    50: rgba(#000, 0.5),
    20: rgba(#000, 0.2)
  )
);

/* ----------------------
  - FONT WEIGHT
  ---------------------- */
$fw: (
  light: 300,
  reguler: 400,
  bold: 700,
  black: 900
);
