@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin large {
  @media only screen and (max-width: screen(large)) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: screen(medium)) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: screen(small)) {
    @content;
  }
}

@mixin extra-small {
  @media only screen and (max-width: screen(extra-small)) {
    @content;
  }
}

@mixin iphone {
  @media only screen and (max-width: screen(iphone)) {
    @content;
  }
}

@mixin mq($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin colors-all-font {
  color: color(black);
  &.grey {
    color: color(grey, 100);
  }
  &.white {
    color: color(white);
  }
}

@mixin colors-all-font-hover {
  color: color(black);
  transition: color 0.25s ease;
  &:hover {
    color: darken(color(black), 10%);
  }
  &:active {
    color: darken(color(black), 20%);
  }
  &.grey {
    color: color(grey, 100);
    &:hover {
      color: darken(color(grey, 100), 10%);
    }
    &:active {
      color: darken(color(grey, 100), 20%);
    }
  }
  &.white {
    color: color(white);
    &:hover {
      color: color(grey, 50);
    }
    &:active {
      color: color(grey, 75);
    }
  }
  &.primary {
    color: color(primary, 100);
    &:hover {
      color: darken(color(primary, 150), 10%);
    }
    &:active {
      color: darken(color(primary, 50), 20%);
    }
  }
}


@mixin hover-button($type) {
  // &:hover {
  //   color: color(white);
  //   .a-system-icon {
  //     color: color(white);
  //   }
  // }
  @if $type == "primary" {
    &:hover {
      background-color: color(primary, 150);
      border-color: color(primary, 150);
    }
  }
}